@using StudyDemo.Framework.Knockout
@model StudyDemo.KnockoutJs.Models.ClickCounterModel
@{
    var ko = Html.CreateKnockoutContext("ClickCounterViewModel");
}
<div id="js-clickCounterViewModelWrapper">
    <div>You've clicked @ko.Html.Span(m => m.NumberOfClicks) times</div>
    @ko.Html.Button("Click me", "RegisterClick", "KoWrapper").Disable(m => m.HasClickedTooManyTimes)
    <div @ko.Bind.Visible(m => m.HasClickedTooManyTimes)>
        That's too many clicks! Please stop before you wear out your fingers.
        @ko.Html.Button("Reset clicks", "ResetClicks", "KoWrapper")
    </div>
</div>
@ko.Apply(Model, "js-clickCounterViewModelWrapper")