<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/knockout")  <!--分部頁時，頁面中間會引用到ko對象，暫不能放到頁尾-->
    @RenderSection("styles", required: false)
    <style type="text/css">
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
</head>
<body>
    <div>
        <h3>Knockout MVC</h3>
    </div>
    <div class="row" style="width:99%">
        <div class="col-lg-2">
            <div class="well sidebar-nav">
                <ul class="nav">
                    <li>Common Examples</li>
                    <li>@Html.ActionLink("Person", "Index", "Person")</li>
                    <li>KoWrapper Examples</li>
                    <li>@Html.ActionLink("Hello world", "HelloWorld", "KoWrapper")</li>
                    <li>@Html.ActionLink("Click counter", "ClickCounter", "KoWrapper")</li>
                    <li>@Html.ActionLink("Simple list", "SimpleList", "KoWrapper")</li>
                    <li>@Html.ActionLink("Better list", "BetterList", "KoWrapper")</li>
                    <li>@Html.ActionLink("Control types", "ControlTypes", "KoWrapper")</li>
                    <li>@Html.ActionLink("Working with collection", "Collections", "KoWrapper")</li>
                    <li>@Html.ActionLink("Contacts editor", "ContactsEditor", "KoWrapper")</li>
                    <li>@Html.ActionLink("Gift list", "GiftList", "KoWrapper")</li>
                    <li>@Html.ActionLink("Region (if, foreach, with)", "Region", "KoWrapper")</li>
                    <li>@Html.ActionLink("Complex bindings (style)", "ComplexBinding", "KoWrapper")</li>
                    <li>@Html.ActionLink("Parameters to server", "ParametersToServer", "KoWrapper")</li>
                    <li>@Html.ActionLink("User script", "UserScript", "KoWrapper")</li>
                    <li>@Html.ActionLink("Combine context", "CombineContext", "KoWrapper")</li>
                    <li>@Html.ActionLink("Inner computed properties", "InnerComputed", "KoWrapper")</li>
                    <li>@Html.ActionLink("Big data (with lazy loading)", "BigData", "KoWrapper")</li>
                    <li>@Html.ActionLink("Multiple ViewModels", "MultipleViewModel", "KoWrapper")</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>